$slant-degree: -10deg;

.workshop {
    background-color: #d1a666;

    .slanted-container {
        display: flex;
        overflow: hidden;
        min-height: 500px;
        @media (max-width: 700px) {
         flex-direction: column;
         display: block;
        }
    }

    .slanted-left {
        flex: 0 0 50%;
        /* Adjust the percentage as needed */
        background-color: #232E39;
        color: white;
        // transform: skewX($slant-degree);
        // transform-origin: top left;
        //padding: 20px;
        /* Adjust padding as needed */
        box-sizing: border-box;
        box-shadow: 13px 0 23px rgba(0, 0, 0, 0.5);
        @media (max-width: 700px) {
            width: 100%;
            height: 300px;
            flex: auto;
            transform: none;
        }
        .photo{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            transition: transform .2s; 
        }
    }

    .right-content {
        flex: 0 0 50%;
        /* Adjust the percentage as needed */
        //background-color: #ffffff;
        // color: #232E39;
        color:white;
        padding-right: 20px;
        padding-left: 20px;
        /* Adjust padding as needed */
        box-sizing: border-box;
        direction: rtl;
        text-align: right;

    }
}