.about {
  background-color: #fccc96;
  //clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  height: 100%;
  padding: 60px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    padding: 20px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .title {
      text-align: center;
      font-size: 2em;
    }


    .img-wrapper {
      width: 50%;
      height: 300px;

      @media (max-width: 768px) {
        width: 100%;
        height: 200px;
      }

      .img {
        background: #fff;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; // You can adjust this based on your preference
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .text-wrapper {
      // flex: 1;
      text-align: right;
      direction: rtl;
      padding-left: 20px;
      color: #463130;
      font-weight: bold;
      font-size: 20px;

      @media (max-width: 768px) {
        text-align: center;
        font-size: 15px;
        padding-left: 0px;
      }

      .text {
        margin-bottom: 1em;
      }

    }
  }

}