// Footer.scss
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: right;
    direction: rtl;
  
    .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .contact-info,
    .social-icons,
    .copyright {
      margin: 15px;
      text-align: center; // Center text on smaller screens
    }
  
    .contact-info h3 {
      margin-bottom: 10px;
    }
  
    .social-icons a {
      color: #fff;
      margin: 0 10px;
      font-size: 1.5em;
      text-decoration: none;
    }
  
    // Responsive styles
    @media (max-width: 768px) {
      .footer-content {
        flex-direction: column;
        text-align: center;
      }
  
      .social-icons {
        margin-top: 10px;
      }
    }
  }  